.increment-btn, .decrement-btn {
  height: 50px;
  width: 60px;
  padding: 0 15px;
  border-radius: 5px;
  font-size: 40px;
  font-weight: 500;
  background-color: #d7efff;
  border: 1px solid #b994ff;
  color: rgb(0, 0, 0);
  margin: 20px;
  text-align: center;
}